body{
   background-color: black;
   color: f1f1f1;
}

/* The sidebar menu *//* Fixed sidenav, full height */
.sidenav {
   height: 100%;
   width: 10vw;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 20px;
   transition: ease-in;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 20px;
   color: #818181;
   display: block;
   border: none;
   background: none;
   width:100%;
   text-align: left;
   cursor: pointer;
   outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
   color: #f1f1f1;
  }


 /* Style page content */
 .main {
   margin-left: 160px; /* Same as the width of the sidebar */
   padding: 0px 10px;
 }
 
 /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }
 /* button search nav & search card  */
 .btn-group button {
   cursor: pointer; /* Pointer/hand icon */
   float: left; /* Float the buttons side by side */
 }
/* background space animation */
.large-header{
   position: relative;
   width: 100%;
   height: 100%;
   background: #111;
   overflow: scroll;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   z-index: 0;
}

.demo .large-header{
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title
{
   position: absolute;
   margin: 0;
   padding: 0;
   color: #f9f1e9;
   text-align: center;
   top:10%;
   left: 50%;
   -webkit-transform: translate3d(-50%,-50%,0);
   transform: translate(-50%,-50%,0);
}

#demo-canvas {
   position: absolute;
   top: 0;
   left: 0;
}

.demo .main-title{
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin{
   font-weight: 200;
}

@media only screen and (max-width: 768px){
   .demo .main-title{
      font-size: 3em;
   }
}
/* end of background animation */

/* search card */
.search
#game-section {
   text-align: center;
}
/* index row */
.gameRow {
   margin-top: 400px;
}
.lookyHere{
   top: 100rem;
}
/* game html  */
#form{
   position: absolute;
   top: 10rem;
} 
#videos {
   position: absolute;
   top: 30rem;
   left: 60rem;
}
.form-group6
{
   position: absolute;
   top: 10rem;
   left: 50rem;

}
.rowGame 
{
   position: absolute;
   top: 20rem;
   justify-content: center;
   width: 100rem;
   /* height: 100px; */
}
/* developer cards */
.devGroup {
   text-align: center;
   width: 100;
}
.devRow
{
   margin-top: 500px;
   background-color: transparent;
}

  /*game html cards  */
.card-deck{
   position: absolute;
   top: 8;
   left: 0;
   padding: 1rem 2rem;
}


.card-body,
.card-title,
.card Img{
   background-color: rgba(0, 0, 0, 0.966);
   color: #f1f1f1;
   text-align: center;
   font-size: 1.75rem;
   background-size: cover;
  
}

/* .card img{
background-size:cover;
} */


/* footer */
.footer {
   position: absolute;
   color: #f1f1f1;
   text-align: center;
   font-size: 10px;
   bottom: 0px;
   width: 100%;
}
 
header {
   font-size: large;
   text-align: center;
}
